services:
  api:
    image: harmattan-api-dev
    pull_policy: build
    build:
      context: .
      dockerfile: cmd/api/Dockerfile
      target: local
    container_name: harmattan-api
    env_file: cmd/api/.env
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - .:/go/src/myapp
    depends_on:
      - db
  db:
    image: mysql:8.0.30
    pull_policy: missing
    container_name: harmattan-db
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    restart: always
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - ./infra/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - db_data:/var/lib/mysql
networks:
  default:
    name: harmattan
volumes:
  db_data:
    name: harmattan-db-data
