@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  color-scheme: light;
}

button,
[role="button"] {
  cursor: pointer;
}

@theme {
  --color-primary: #6750A4;
  --color-on-primary: #FFFFFF;
  --color-surface: #FEF7FF;
  --color-surface-container-low: #F7F2FA;
  --color-on-surface: #1D1B20;
  --color-on-surface-variant: #49454F;
  --color-outline: #79747E;
  --color-scrim: rgba(0, 0, 0, 0.32);
  --color-focus-ring: #0060CC;

  --shadow-custom: 0 4px 8px rgba(0, 0, 0, 0.25);
}

@layer components {
  .state-layer-parent {
    @apply relative focus-visible:outline-none
  }

  .state-layer {
    @apply absolute opacity-0 inset-0 m-auto size-full rounded-[inherit]
    [.state-layer-parent:hover>&]:opacity-10
    [.state-layer-parent:focus-within>&]:opacity-10
    [.state-layer-parent:active>&]:opacity-12
  }

  .state-layer-ring {
    @apply absolute inset-0 m-auto size-full rounded-[inherit]
    [.state-layer-parent:focus-within>&]:outline-2 outline-focus-ring
  }
}
